rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Estas regras são para desenvolvimento. 
    // Elas permitem acesso de leitura e escrita a todos os usuários
    // até 31 de dezembro de 2024.
    // Para produção, você deve implementar regras mais seguras.
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2024, 12, 31);
    }
  }
}
